.simple-voting-02 {
  color: #293c4b;
  font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
  margin: 0 auto;
  width: 600px;
}

.simple-voting-02 > h1 {
  text-align:  center;
  font-size: 50px;
}

.simple-voting-02 .voteable {
  background: #c3dbf3;
  border: 8px solid #6c89a7;
  padding: 20px;
}

.simple-voting-02 .voteable div {
  margin-bottom: 10px;
}

.simple-voting-02 .voteable h2 {
  font-size: 30px;
  margin: 0 0 10px 0;
}

.simple-voting-02 .voteable ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.simple-voting-02 .voteable li + li {
  margin-top: 15px;
  padding-top: 15px;
}

.simple-voting-02 .voteable li div {
  background: #fff;
  font-size: 24px;
  padding: 10px;
}

.simple-voting-02 .voteable li div span {
  float: right;
}

.simple-voting-02 .voteable li button {
  background: #293c4b;
  border-radius: 4px;
  border: 0 none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  margin-right: 10px;
  padding: 5px 10px;
  vertical-align: middle;
}

.simple-voting-02 .voteable li > span {
  font-size: 30px;
  vertical-align: middle;
}
